<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BANK DARAH By TEL-U</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- SimpleLightbox plugin CSS-->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">BANK DARAH</a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Documentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container px-4 px-lg-5 h-100">
        <div
          class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">
              Bank Darah Application By Telkom University
            </h1>
            <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 mb-5">
              Selamat Datang di Bank Darah Telkom <br />
              Kami melayani donor darah & resque darah
            </p>
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>
    <!-- About-->
    <section class="page-section bg-danger" id="about">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Apa itu Bank Darah Tel-U</h2>
            <hr class="divider divider-light" />
            <p class="text-white-75 mb-4">
              Donor Darah Tel-U Indonesia berdiri sejak 2022 menjadi platform
              antara orang yang membutuhkan transfusi darah, dengan para
              pendonor darah sukarela. Kami tidak memungut biaya untuk itu, dan
              para pendonor darah sukarela juga ikhlas membantu.
            </p>
            <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
      <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Donor Darah</h3>
              <p class="text-muted mb-0">Description</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2">
                <i class="bi-laptop fs-1 text-primary"></i>
              </div>
              <h3 class="h4 mb-2">Up to Date</h3>
              <p class="text-muted mb-0">Description</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Request Darah</h3>
              <p class="text-muted mb-0">Description</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="mt-5">
              <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
              <h3 class="h4 mb-2">Kemudahan</h3>
              <p class="text-muted mb-0">Description</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Chefs Area Starts ***** -->
    <section class="section" id="chefs">
      <div class="container g-0">
        <div class="row">
          <div class="col-lg-4 offset-lg-4 text-center">
            <div class="section-heading">
              <h6>Info PMI</h6>
              <h4>Stok Darah | Giat Donor</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="chef-item">
              <div class="down-content">
                <h4 class="text-center">STOK DARAH UDD PMI</h4>
              </div>
              <div class="thumb">
                <html>
                  <script src="chart/Chart.bundle.js"></script>
                  <style type="text/css">
                    .container {
                      width: 100%;
                      margin: 0px auto;
                    }
                  </style>

                  <div class="container">
                    <canvas id="myChart" width="130" height="120"></canvas>
                  </div>
                  <script>
                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                      type: "bar",
                      data: {
                        labels: ["A+", "B+", "O+", "AB+"],
                        datasets: [
                          {
                            label: "STOK DARAH",
                            data: [14399, 24505, 29887, 9231],
                            backgroundColor: [
                              "rgba(255, 99, 132, 0.2)",
                              "rgba(54, 162, 235, 0.2)",
                              "rgba(255, 206, 86, 0.2)",
                              "rgba(153, 102, 255, 0.2)",
                            ],
                            borderColor: [
                              "rgba(255,99,132,1)",
                              "rgba(54, 162, 235, 1)",
                              "rgba(255, 206, 86, 1)",
                              "rgba(75, 192, 192, 1)",
                            ],
                            borderWidth: 1,
                          },
                        ],
                      },
                      options: {
                        scales: {
                          yAxes: [
                            {
                              ticks: {
                                beginAtZero: true,
                              },
                            },
                          ],
                        },
                      },
                    });
                  </script>
                </html>
              </div>
            </div>
            <br />
            <!-- <div>
              <form
                method="post"
                action="./?page=stok"
                onkeydown="return event.key != 'Enter';"
              >
                <div class="mb-3">
                  <label class="form-label"
                    >INFORMASI STOK DARAH PMI KOTA / KAB.</label
                  >
                  <div class="row">
                    <div class="col-lg-8">
                      <input
                        type="text"
                        class="form-control"
                        id="search"
                        name="udd"
                        placeholder="Ketikan Nama Kota / Kabupaten..."
                        required
                      />
                    </div>
                    <div class="col-lg-4">
                      <input
                        type="submit"
                        class="btn btn-success"
                        id="submit1"
                        name="submit1"
                        value="Cari"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div> -->
          </div>

          <div class="col-lg-6">
            <div class="chef-item">
              <div class="down-content">
                <h4 class="text-center">MOBILE DONOR PMI</h4>
              </div>
              <div class="thumb">
                <table
                  class="table table-striped table-bordered table-hover"
                  id="dataTables-example"
                >
                  <thead class="text-center">
                    <tr>
                      <td><b> Provinsi </b></td>
                      <td><b> Jumlah </b></td>
                    </tr>
                  </thead>
                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Bali"
                          >Provinsi &nbspBali</a
                        ></b
                      >
                    </td>
                    <td><b>5 Lokasi</b></td>
                  </tr>

                  <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Banten"
                          >Provinsi &nbspBanten</a
                        ></b
                      >
                    </td>
                    <td><b>2 Lokasi</b></td>
                  </tr> -->

                  <tr>
                    <td>
                      <b
                        ><a
                          href="https://www.pmikotabandung.org/" target="_blank"
                          >Bandung</a
                        ></b
                      >
                    </td>
                    <td class="text-center">
                        <!-- <b>3 Lokasi</b> -->
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                3 Lokasi
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="https://goo.gl/maps/DLwRmGLFPKmfgJb37" target='_blank'>RSAI Bandung <img src="/images/maps.png" width="20px"></a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="https://g.page/RSBSA?share" target='_blank'>RS Sartika Bandung <img src="/images/maps.png" width="20px"></a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href='https://g.page/rsmuhammadiyahBDG?share' target='_blank'>RS Muhammadiyah Bandung<img src="/images/maps.png" width="20px"></a></li>
                            </ul>
                        </div>
                    </td>
                  </tr>

                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Jawa Tengah"
                          >Provinsi &nbspJawa Tengah</a
                        ></b
                      >
                    </td>
                    <td><b>16 Lokasi</b></td>
                  </tr> -->

                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Jawa Timur"
                          >Provinsi &nbspJawa Timur</a
                        ></b
                      >
                    </td>
                    <td><b>23 Lokasi</b></td>
                  </tr> -->

                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Kalimantan Barat"
                          >Provinsi &nbspKalimantan Barat</a
                        ></b
                      >
                    </td>
                    <td><b>1 Lokasi</b></td>
                  </tr> -->

                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Kalimantan Selatan"
                          >Provinsi &nbspKalimantan Selatan</a
                        ></b
                      >
                    </td>
                    <td><b>3 Lokasi</b></td>
                  </tr> -->

                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Sulawesi Barat"
                          >Provinsi &nbspSulawesi Barat</a
                        ></b
                      >
                    </td>
                    <td><b>1 Lokasi</b></td>
                  </tr> -->

                  <!-- <tr>
                    <td>
                      <b
                        ><a
                          href="./?page=mobile&module=MjAyMi0xMS0xNw==&prov=Sumatera Selatan"
                          >Provinsi &nbspSumatera Selatan</a
                        ></b
                      >
                    </td>
                    <td><b>1 Lokasi</b></td>
                  </tr> -->
                </table>
              </div>
            </div>
            <br />
            <!--div>
                        <form method="post" action="" onkeydown="return event.key != 'Enter';">
                            <div class="mb-3">
                                <label class="form-label">INFORMASI MOBILE DONOR PMI KOTA / KAB.</label>
                                <div class="row">
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="search2" name="search2" placeholder="Ketikan Nama Kota / Kabupaten..." required>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="submit" class="btn btn-danger" id="submit1" name="submit1" value="Cari">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div-->
          </div>
        </div>
      </div>
    </section>
    <br>
    <!-- ***** Chefs Area Ends ***** -->
    <!-- Portfolio-->
    <div id="portfolio">
      <div class="container-fluid p-0">
        <div class="row g-0">
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/images/portfolio/fullsize/1.jpg"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="/images/portfolio/thumbnails/1.jpg"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Project Name</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/images/portfolio/fullsize/2.jpg"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="/images/portfolio/thumbnails/2.jpg"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Project Name</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/images/portfolio/fullsize/3.jpg"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="/images/portfolio/thumbnails/3.jpg"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Project Name</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/images/portfolio/fullsize/4.jpg"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="/images/portfolio/thumbnails/4.jpg"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Project Name</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/images/portfolio/fullsize/5.jpg"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="/images/portfolio/thumbnails/5.jpg"
                alt="..."
              />
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Project Name</div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a
              class="portfolio-box"
              href="/images/portfolio/fullsize/6.jpg"
              title="Project Name"
            >
              <img
                class="img-fluid"
                src="/images/portfolio/thumbnails/6.jpg"
                alt="..."
              />
              <div class="portfolio-box-caption p-3">
                <div class="project-category text-white-50">Category</div>
                <div class="project-name">Project Name</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
      <div class="container px-4 px-lg-5 text-center">
        <h2 class="text-center mt-0">Form Service</h2>
        <hr class="divider" />
        <div class="row g-0">
          <div class="col">
            <!-- <h2 class="mb-4">Form Resque</h2> -->
            <a
              class="btn btn-danger btn-xl"
              href="https://startbootstrap.com/theme/creative/"
              >DONOR!</a
            >
          </div>
          <div class="col">
            <!-- <h2 class="mb-4">Form Resque</h2> -->
            <a
              class="btn btn-danger btn-xl"
              href="https://startbootstrap.com/theme/creative/"
              >RESQUE!</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Let's Get In Touch!</h2>
            <hr class="divider" />
            <p class="text-muted mb-5">
              Hubungi kami untuk informasi dan layanan lebih lanjut!
            </p>
          </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
          <div class="col-lg-6">
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * SB Forms Contact Form * *-->
            <!-- * * * * * * * * * * * * * * *-->
            <!-- This form is pre-integrated with SB Forms.-->
            <!-- To make this form functional, sign up at-->
            <!-- https://startbootstrap.com/solution/contact-forms-->
            <!-- to get an API token!-->
            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
              <!-- Name input-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="name"
                  type="text"
                  placeholder="Enter your name..."
                  data-sb-validations="required"
                />
                <label for="name">Full name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">
                  A name is required.
                </div>
              </div>
              <!-- Email address input-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="email"
                  type="email"
                  placeholder="name@example.com"
                  data-sb-validations="required,email"
                />
                <label for="email">Email address</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">
                  An email is required.
                </div>
                <div class="invalid-feedback" data-sb-feedback="email:email">
                  Email is not valid.
                </div>
              </div>
              <!-- Phone number input-->
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  id="phone"
                  type="tel"
                  placeholder="(123) 456-7890"
                  data-sb-validations="required"
                />
                <label for="phone">Phone number</label>
                <div class="invalid-feedback" data-sb-feedback="phone:required">
                  A phone number is required.
                </div>
              </div>
              <!-- Message input-->
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  id="message"
                  type="text"
                  placeholder="Enter your message here..."
                  style="height: 10rem"
                  data-sb-validations="required"
                ></textarea>
                <label for="message">Message</label>
                <div
                  class="invalid-feedback"
                  data-sb-feedback="message:required"
                >
                  A message is required.
                </div>
              </div>
              <!-- Submit success message-->
              <!---->
              <!-- This is what your users will see when the form-->
              <!-- has successfully submitted-->
              <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  To activate this form, sign up at
                  <br />
                  <a href="https://startbootstrap.com/solution/contact-forms"
                    >https://startbootstrap.com/solution/contact-forms</a
                  >
                </div>
              </div>
              <!-- Submit error message-->
              <!---->
              <!-- This is what your users will see when there is-->
              <!-- an error submitting the form-->
              <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">
                  Error sending message!
                </div>
              </div>
              <!-- Submit Button-->
              <div class="d-grid">
                <button
                  class="btn btn-primary btn-xl disabled"
                  id="submitButton"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-4 text-center mb-5 mb-lg-0">
            <i class="bi-phone fs-2 mb-3 text-muted"></i>
            <div>+62 800 0000 0000</div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
      <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">
          Copyright &copy; 2022 - Bank Darah Tel-U
        </div>
      </div>

      <div class="container px-4 px-lg-5 pt-2">
        <div class="small text-center text-muted">
          Distributed By <a href="https://themewagon.com/">Themewagon</a>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
